/.bundle/
/lib/**/*.so
/lib/**/*.bundle
/tmp
/pkg
*.gem
/html/
Gemfile.lock
vendor/
*.swp
*.swo
nohup.out
.vagrant
.byebug_history
.vscode-server
.rubocop-*
.vscode/ipch

# IntelliJ/RubyMine/CLion project files
.idea
CMakeLists.txt
cmake-build-debug
