---

name: Analysis

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: 13 7 * * 6

concurrency:
  group: ${{ github.ref }}-analysis
  cancel-in-progress: true

jobs:
  linting:
    env:
      BUNDLE_WITHOUT: test

    name: Linter
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683  # v4.2.2
      -
        uses: ruby/setup-ruby@e34163cd15f4bb403dcd72d98e295997e6a55798  # v1.238.0
        with:
          bundler-cache: true
      -
        name: Ruby Linting
        run: bundle exec rubocop
      -
        name: Yaml Linting
        uses: ibiqlik/action-yamllint@2576378a8e339169678f9939646ee3ee325e845c  # v3.1.1
        with:
          config_file: .yamllint.yml
