---

name: Analysis

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: 13 7 * * 6

concurrency:
  group: ${{ github.ref }}-analysis
  cancel-in-progress: true

jobs:
  linting:
    env:
      BUNDLE_WITHOUT: test

    name: Linter
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      -
        uses: ruby/setup-ruby@d5126b9b3579e429dd52e51e68624dda2e05be25  # v1.267.0
        with:
          bundler-cache: true
      -
        name: Ruby Linting
        run: bundle exec rubocop
      -
        name: Yaml Linting
        uses: ibiqlik/action-yamllint@2576378a8e339169678f9939646ee3ee325e845c  # v3.1.1
        with:
          config_file: .yamllint.yml
