---

name: Analysis

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: 13 7 * * 6

concurrency:
  group: ${{ github.ref }}-analysis
  cancel-in-progress: true

jobs:
  linting:
    env:
      BUNDLE_WITHOUT: test

    name: Linter
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0
      -
        uses: ruby/setup-ruby@e69dcf3ded5967f30d7ef595704928d91cdae930  # v1.285.0
        with:
          bundler-cache: true
      -
        name: Ruby Linting
        run: bundle exec rubocop
      -
        name: Yaml Linting
        uses: ibiqlik/action-yamllint@2576378a8e339169678f9939646ee3ee325e845c  # v3.1.1
        with:
          config_file: .yamllint.yml
