---

name: Refresh dependencies

on:
  schedule:
    - cron: 0 3 * * 1

permissions:
  contents: write
  pull-requests: write

jobs:
  bundler:
    name: Update gems for all Gemfiles
    runs-on: ubuntu-latest
    container:
      image: ruby:3.2
    steps:
      -
        name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0
      -
        name: Cache
        uses: actions/cache@0400d5f644dc74513175e3cd8d07132dd4860809  # v4.2.4
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-ruby-3.1-gems-${{ hashFiles('Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-ruby-3.1-gems-
      -
        name: Bundle update common
        run: |
          gem install bundler
          bundle config path vendor/bundle
          bundle exec rake build
          bundle update
      -
        name: Bundle update adapters
        run: |
          for gemfile_path in gemfiles/*.gemfile; do
            BUNDLE_GEMFILE="${gemfile_path}" bundle update
          done
      -
        name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e  # v7.0.8
        with:
          title: Bump gems
          labels: ruby,dependencies
          branch: bump_dependencies
          body: |
            Update gems versions in Gemfiles to latest one.
          add-paths: |
            Gemfile.lock
            gemfiles/*.lock
      -
        name: Check outputs
        if: ${{ steps.cpr.outputs.pull-request-number }}
        run: |
          echo "Pull Request Number - ${{ steps.cpr.outputs.pull-request-number }}"
          echo "Pull Request URL - ${{ steps.cpr.outputs.pull-request-url }}"
